<div class="section-index">
	<ul>
	{{ $parent := .Page.Parent }}
	{{ $pages :=  .Page.CurrentSection.Pages }}
	{{ range $pages }}
		{{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}
		<li>
			<a href="{{ $manualLink }}"{{ with .Params.manualLinkTitle }} title="{{ . }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }}>{{- .Title -}}</a>
		</li>
	{{ end }}
	</ul>
</div>
